@{
    ViewData["Title"] = "SignedOut";
}
<h2>Thanks</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        Thanks for using our service. Click <a asp-controller="Account" asp-action="Login">here</a> for login.
    </div>
</div>